.form {
   font-size: 20px;
}

.formBlock,
.formBlock.invalid {
   display: flex;
   margin: 15px 0;
}

.formBlock.invalid input {
   background-color: rgb(240, 217, 217);
   border-color: red;
}

.formBlock input:focus {
   background-color: rgb(220, 226, 163);
   border-color: rgb(100, 128, 37);
}

.form div label {
   display: block;
   flex: 1 0 150px;
}

.form div input {
   outline: none;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

.form button {
   display: flex;
   padding: 10px 20px;
   background-color: rgb(175, 207, 245);
   color: rgb(2, 36, 71);
   border-radius: 10px;
   cursor: pointer;
   transition: 0.3s;
}

.errorProduct {
   font-size: 20px;
   font-weight: 600;
   color: red;
   text-align: right;
}

@media (any-hover: hover) {
   .form button:hover {
      background-color: rgb(69, 111, 163);
   }
}

button:disabled,
button:disabled:hover,
button:disabled:active {
   background: #ccc;
   color: #333;
   cursor: not-allowed;
}