.section {
   margin: 20px auto;
   width: 100%;
   max-width: 500px;
   border-radius: 20px;
   background-color: #7fad98;
   padding: 30px 50px;
   box-shadow: 1px 0px 14px 0px rgba(20, 19, 19, 0.5);
}